[Unit]
Description=Kyan's distributed currency daemon
After=network.target

[Service]
User=kyancore
Group=kyancore

Type=forking
PIDFile=/var/lib/kyand/kyand.pid
ExecStart=/usr/bin/kyand -daemon -pid=/var/lib/kyand/kyand.pid \
-conf=/etc/kyancore/kyan.conf -datadir=/var/lib/kyand -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
